/* Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */

body {
    font-family: 'Poppins'; 
    background-color: whitesmoke;
    scroll-behavior: smooth;    
}

h1 {
    color: #0000FF;        
    font-weight: 700; 
}

/* Navbar Styles */

a.logo {
    color: white;        
    font-size: 1.250rem;
    font-weight: 700;       
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: #DC3545;
    transition: color .5s ease;   
}

a.button-nav-cadastro {
    color: white;
    background-color: #DC3545;
}

a.button-nav-cadastro:hover {
    color: white;
    background-color: #DC3545;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

/* Home Page Styles */

h6.product-title {
    min-height: 6rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(66, 70, 77);
}

p.product-price-before {    
    font-size: .8rem;    
    font-weight: 500;    
    color: #42464D;
    text-decoration: line-through;
    color: #DC3545;
}

p.product-price {    
    font-size: 1.250rem;    
    font-weight: 700;    
    color: #0000FF;
}

p.pix-discount {
    font-size: .8rem;    
    font-weight: 500;    
    color: green;    
}

a.button-compre {
    font-size: 1rem;    
    font-weight: 700;      
    width: 100%;
    height: 100%;    
    color: rgb(255, 255, 255);    
    background: #0000FF;    
}

a.button-compre:hover {
    background-color: #DC3545;
    color: white;       
}

/* Sobre nos Page Styles */

p.paragraph-sobre-nos {   
    text-align: justify;        
    line-height: 1.8rem;
    font-weight: 400;
    color: rgb(66, 70, 77);      
}

/* Termos e Condicoes Page Styles */

h2.subtitle-termos-e-condicoes {
    font-size: 1rem;
}

p.paragraph-termos-e-condicoes {   
    text-align: justify;    
    line-height: 1.8rem;
    font-weight: 400;
    color: rgb(66, 70, 77);      
}

/* Cadastro de Ofertas Page Styles */

fieldset {
    background-color: #cfcfcf;
}

p.paragraph-cadastro-de-ofertas {   
    text-align: justify;
    font-size: 1rem;    
    font-weight: 400;
    color: rgb(66, 70, 77);     
}

button.button-cadastrar {
    font-size: 1rem;    
    font-weight: 700;      
    width: 100%;
    height: 100%;    
    color: rgb(255, 255, 255);    
    background: #0000FF;    
}

button.button-cadastrar:hover {
    background-color: #DC3545;
    color: white;
}